/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    top: 50px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-padding: 50px;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

/* Header */

.header {
    width: 100%;
    height: 50px;
    background: rgb(143, 0, 0);
    padding-right: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

/* Main */

/* Hero Section */

.hero {
    background: rgb(43, 50, 56);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-container h1 {
    font-size: 40px;
}

.hero-container h2 {
    color: rgb(196, 0, 0);
    font-weight: 600;
    text-align: center;
}

/* Trabajos */

.trabajos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(57, 66, 73);
}

.trabajos-title h1 {
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

.trabajos-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.trabajos-box {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    transition: 1s;
    background-blend-mode: overlay;
}

.trabajos-box:hover {
    
    box-shadow: inset -500px -500px 100px 100px rgba(0, 0, 0, 0.6);
}

.trabajos-texto {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: 0.8s;
}

.trabajos-texto:hover {
    opacity: 1;
}

.trabajos-texto h1 {
    padding: 10px 30px;
    border: 3px solid white;
    filter: drop-shadow(1px 1px 1px black);
    border-radius: 5px;
}

.trabajos-texto p {
    filter: drop-shadow(1px 1px 1px black);
}

.trabajos-box:nth-child(1) {
    background-image: url('../img/practica-flex.png');
}
.trabajos-box:nth-child(2) {
    background-image: url('../img/grid.png');
}
.trabajos-box:nth-child(3) {
    background-image: url('../img/formulario.png');
}

/* Card */

.card {
    background: rgb(43, 50, 56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 300px;
    height: 400px;
    perspective: 800px;
    position: relative;
}

.card-box {
    width: 300px;
    height: 400px;
    transform: rotateY(0);
    transition: 1s;
    transform-origin: left;
    position: absolute;
    z-index: 1;
}

.card-box:hover {
    transform:rotatex(40deg) translateX(150px) rotateY(-180deg);
}

.card-box:hover ~ .card-back {
    transform: rotateX(40deg) translateX(150px);
}

.card-box:hover .rotulo-fix {
    z-index: 0;
}

.card-front {
    width: 100%;
    height: 100%;
    background: steelblue;
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 1px 10px 1px black;
    display: flex;
    justify-content: center;
    position: relative;
}

.card-rotulo {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rotulo-fix {
    background: steelblue;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
    z-index: -1;
    border-radius: 0 15px 15px 0;
}

.card-back {
    width: 100%;
    height: 100%;
    background: steelblue;
    transition: 1s;
    border-radius: 0 15px 15px 0;
    box-shadow: 1px 1px 10px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-back-text {
    width: 280px;
    height: 370px;
    margin-left: -20px;
    padding: 20px;
    background: white;
    font-size: 20px;
}

/* Contacto */

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(57, 66, 73);
}

.contacto-title h1 {
    margin-top: 30px;
    font-size: 40px;
    color: white;
}

.contacto-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background: rgb(43, 50, 56);
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 15px;
    text-align: center;
    color: rgb(196, 0, 0);
    font-weight: bold;
}

label {
    width: 100%;
}

.input-group {
    width: 100%;
    position: relative;
    display: flex;
}

.input-group input {
    width: 100%;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    border: 3px solid white;
    outline: none;
    background: rgb(43, 50, 56);
    font-size: 18px;
}

.input-group input:focus + label, 
.input-group input:not(:placeholder-shown) + label {
    top: -10px;
    font-size: 18px;
    background: rgb(43, 50, 56);
}

.input-group label {
    width: fit-content;
    text-align: initial;
    position: absolute;
    top: 11px;
    left: 5%;
    transition: 0.2s;
    padding: 0 5px;
    background: transparent;
    font-size: 20px;
}

.check-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.check-container p{
    color: white;
}

.box-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.check {
    margin: 10px 0;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.check input {
    position: absolute;
    transform: scale(0);
}

.check input:checked ~ .checkbox {
    transform: rotate(45deg);
    width: 10px;
    margin-left: 10px;
    border-color: rgb(196, 0, 0);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.checkbox {
    display: block;
    width: inherit;
    height: inherit;
    border: 3px solid white;
    border-radius: 6px;
    transition: all 0.375s;
}


.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.submit {
    height: 40px;
    width: 150px;
    border: 3px solid white;
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Telex', sans-serif;
    font-size: 16px;
}

.submit::before,
.submit::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
    border-color: rgb(196, 0, 0);
}

.submit::before {
    left: -15px;
    top: -15px;
    border-radius: 10px 0 0 0;
    border-width: 3px 0 0 3px;
}

.submit::after {
    right: -15px;
    bottom: -15px;
    border-radius: 0 0 10px 0;
    border-width: 0 3px 3px 0;
}

.submit:hover::before,
.submit:hover::after {
    width: calc(70% + 27px);
    height: calc(70% + 27px);
}

/* Permite quitar botones a inputs */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }